<nav class="navbar fixed-top py-0 d-inline-flex flex-nowrap">
  <a class="navbar-brand" href="#" style="">
    <i class="fa fa-coffee" aria-hidden="true"></i>
    HaLFRICE
  </a>
  <div class="navbar-links d-inline-flex" id="navbarLinks">
    <a class="nav-item nav-link" href="#">PROJECTS<span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link" href="#">ABOUT</a>
    <a class="nav-item nav-link" href="#">CONTACT</a>
    <a class="nav-item nav-link" href="#">MISC</a>
    <div class="navbar-links-fader"></div>
  </div>
  <div class="navbar-user dropdown show d-flex" id="navbarUser">
    <a class="nav-item nav-link dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      LOG IN | SIGN UP
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
</nav>
